@import '_variables';
@import '../extends/_extends';

// default button styling
.de-btn {
    @include background-hover($blue-500);
    border-radius: 2px;
    padding: 10px 25px;
    display: inline-block;
    border: none;
    color: $white-500;
    box-shadow: 0 0 8px 1px transparentize($grey-500, .7);
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }


    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(.99);
    }

    &.btn-success {
        @include background-hover($green-500);
    }

    &.btn-alert {
        @include background-hover($red-500);
    }
}

input.de-input {
    &[type=text],
    &[type=email] {
        border: none;
        box-shadow: 0 0 0 1px lighten($grey-500, 49%);
        transition: 500ms all ease;
        padding: 7px 2px;
        &:focus {
            outline: none;
            transform: translateY(-5%);
            box-shadow: 0 0 0 1px lighten($grey-500, 59%), 0 10px 12px -7px lighten($grey-500, 59%);
        }
    }
}



.de-textarea {
    resize: none;
    @extend input.de-input[type=text];
    padding: 5px 10px;
}


.de-table {
    box-shadow: 0 0 20px 1px transparentize($grey-500, 0.85);
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid lighten($grey-500, 60%);
    }

    th,
    td {
        padding: 10px 25px;
    }
    thead {}

    tbody {
        tr {
            &:last-child {
                border: none;
            }


            &:nth-of-type(odd) {
                background: lighten($grey-500, 70%);
            }
        }
    }
}

input[id="nav-toggle"] {
    display: none;
    &:checked~.de-nav {
        transform: translateY(0);
        li:last-child {
            order: -1;
        }
    }
}

// responsive navigation bar
nav.de-nav {
    @include position(fixed, $left: 0, $right: 0, $top: 0);
    z-index: 1;
    transition: 250ms all ease;
    @include until($screen-mobile) {
        transform: translateY(-66%);
    }
    background: $blue-500;
    padding: 15px 10px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexbox(row, space-around, center);
        @include until($screen-mobile) {
            flex-flow: column wrap;
            align-items: flex-start;
            li {
                padding: 8px 5px;
            }
        }
        li:last-child {
            @include at-least($screen-mobile) {
                display: none;
            }
        }
    }
}

// accordion component
.de-accordion {
    input[type=checkbox] {
        display: none;
        &:checked {
            ~.accordion-head {
                label {
                    transform: rotate(180deg);
                }
            }
            ~.accordion-body {
                max-height: 100vh;
                overflow: visible;
            }
        }
    }
    .accordion-head {
        background: $white-500;
        @include flexbox(row, flex-start, center);
        box-shadow: 0 0 9px 1px transparentize($grey-500, .8),
        5px 7px 21px 0 transparentize(lighten($grey-500, 66%), .4);
        padding: 10px 16px;
        border-radius: $element-radius;

        label {
            order: -1;
        }
    }

    .accordion-body {
        transition: max-height 200ms cubic-bezier(0.94, -0.17, 1, 1.07);
        padding: 0px 16px;
        overflow: hidden;
        max-height: 0;
    }
}

// card component
.de-card {
    box-shadow: $element-shadow;
    max-width: 500px;
    border-radius: $element-radius;
    transition: 700ms all ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 24px 1px transparentize($grey-500, .8);
        transform: translateY(-1%);
        .card-header {
            background-position: right center;
        }
    }

    .card-header {
        border-radius: $element-radius;
        min-height: 23vh;
        max-height: 200px;
        @include background-image('http://unsplash.it/1000/500');
        @include flexbox(column, center, center);
        transition: 1s all ease-in-out;
    }

    .card-body {
        padding: 10px 15px;
    }
}

//alert component
.de-alert {
    @extend %fixed-center;
    background: $white-500;
    padding: 10px 25px;
    z-index: 2;
    border-radius: $element-radius;
    box-shadow: $element-shadow;
    display: none;
    text-align: center;
    
    .alert-header {
    }

    .alert-body {
        @include flexbox(row, center, center);
        padding: 50px 25px;
    }
}



body.alert-open {

    .de-overlay {
        @include position(fixed, 0, 0, 0, 0);
        background: transparentize($black-500, .5);
        z-index: 2;
    }

    .de-main-content {
        filter: blur(2px);
        @include position(fixed, 0, 0, 0, 0);
    }

    .de-alert {
        display: block;
    }
}


// modal

.de-modal {
    @extend %fixed-center;
    border-radius: $element-radius;
    box-shadow: $element-shadow;
    background: $white-500;

    .modal-header {
        padding: 5px 0;
        box-shadow: 0 1px 0 lighten($grey-500, 60%);
    }

    .modal-body {
        padding: 5px 15px;
        overflow-y: scroll;
        max-height: 500px;
    }

    .modal-footer {
        box-shadow: 0 -7px 0 -6px lighten($grey-500, 60%);
        padding: 10px 0;
        @include flexbox(row, center, center);
    }
}








