@import '_variables';
@import '../extends/_extends';

// default button styling
.de-btn {
    @include background-hover($blue-500);
    border-radius: 2px;
    padding: 10px 25px;
    display: inline-block;
    border: none;
    color: $white-500;
    box-shadow: 0 0 8px 1px transparentize($grey-500, .7);
    text-transform: uppercase;


    &:focus {
        outline: none;
    }

    &:active {
        transform: scale(.99);
    }

    &.btn-success {
        @include background-hover($green-500);
    }

    &.btn-alert {
        @include background-hover($red-500);
    }
}

input.de-input {
  &[type=text], &[type=email] {
    border: none;
    box-shadow: 0 0 0 1px lighten($grey-500, 49%);
    transition: 500ms all ease;
    padding: 7px 2px;
    &:focus {
      outline: none;
      transform: translateY(-5%);
      box-shadow: 0 0 0 1px lighten($grey-500, 59%), 0 10px 12px -7px lighten($grey-500, 59%);
    }
  }  
}



.de-textarea {
    resize: none;
    @extend input.de-input[type=text];
    padding: 5px 10px;
}


.de-table {
    box-shadow: 0 0 20px 1px transparentize($grey-500, 0.85);
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid lighten($grey-500, 60%);
    }

    th,
    td {
        padding: 10px 25px;
    }
    thead {

    }

    tbody {
        tr {
            &:last-child {
                border: none;
            }


            &:nth-of-type(odd) {
                background: lighten($grey-500, 70%);
            }
        }
    }
}

input[id="nav-toggle"] {
    display: none;
    &:checked ~ .de-nav {
        transform: translateY(0);
    }
}

// responsive navigation bar

nav.de-nav {
    @include position(fixed, $left: 0, $right: 0, $top: 0);
    transition: 250ms all ease;
    @include until($screen-mobile) {
        transform: translateY(-80%);
    }
    background: $blue-500;
    padding: 15px 10px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include flexbox(row, space-around, center);
        @include until($screen-mobile) {
            flex-flow: column wrap;
            align-items: flex-start;
            li {
                padding: 8px 5px;
            }
        }
        li:last-child {
            @include at-least($screen-mobile) {
                display: none;
            }
        }

    }
}