

// responsive container defaulted to a 1200px max width
.de-responsive-container {
    @include responsive-container($screen-desktop); // rows for the container
    .de-row {
        @extend %flex-row;
        @include until($screen-mobile) {
        	flex-flow: column;
            align-items: center;
        }
        @for $i from 1 through 12 {
            .de-col-#{$i} {
                flex: 1 0 100% / $i;
                padding: 10px 15px;
            }
        }
    } // sass script loop to create responsive sized columns on 12 grids
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.de-main-content {
    flex: 1 0 auto;

}
