// flexbox mixins

%flex-column {
  display: flex;
  flex-flow: column wrap;
}

%flex-row {
  display: flex;
  flex-flow: row wrap;
}

@mixin at-least($width) {
  @media all and (min-width:$width) {
    @content;
  }
}

@mixin until($width) {
  @media all and (max-width:$width) {
    @content;
  }
}

@mixin responsive-container($max-width) {
	max-width: $max-width;
	margin: 0 auto;
	@extend %flex-column;
}

@mixin background-hover($base-col) {
  background: $base-col;

  &:hover {
    background: lighten($base-col, 2%);
  }
}

@mixin background-image($url) {
  background: {
    image: url($url);
    size: cover;
    position: center center;
    repeat: no-repeat;
  }
}

@mixin header($url) {
  @include background-image($url);
  height: 50vh;
  text-align: center;
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  .de-btn {
    margin: 50px 0;
  }
}



